flow.json
[{"id":"78619aaa.9beb6c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5a0cae2e.6667d8","type":"catch","z":"78619aaa.9beb6c","name":"","scope":null,"uncaught":false,"x":190,"y":180,"wires":[[]]},{"id":"62ada54d.5be874","type":"debug","z":"78619aaa.9beb6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":120,"wires":[]},{"id":"e1721809.3b933","type":"inject","z":"78619aaa.9beb6c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":630,"y":260,"wires":[[]]},{"id":"3bbfc6d0.1ee9fa","type":"status","z":"78619aaa.9beb6c","name":"","scope":null,"x":350,"y":280,"wires":[[]]},{"id":"ef9c38e8.26acb","type":"switch","z":"78619aaa.9beb6c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":460,"wires":[[]]},{"id":"b25f1ac8.7c1c58","type":"switch","z":"78619aaa.9beb6c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":580,"wires":[[]]},{"id":"5665cb19.ad1fe4","type":"function","z":"78619aaa.9beb6c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":380,"wires":[[]]}]